h1, p, .role{
	font-family: Helvetica;
}

.role{
	background-color: lightgrey;
	padding: 10px;
	border-style: solid;
	margin-bottom: 5px;
}

.date{
	font-size: 80%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}